requests==2.32.4
psycopg2-binary==2.9.10
gunicorn==23.0.0
beautifulsoup4==4.13.4
celery==5.5.3
requests_oauthlib==2.0.0
Pillow==11.3.0
pytz==2025.2
google-cloud-logging==3.12.1
python-dateutil==2.9.0.post0
xmltodict==0.14.2
django==5.2.4
django-widget-tweaks==1.5.0
django-easy-select2==1.5.8
django-import-export==4.3.9
django-redis==6.0.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dj-stripe==2.9.1
django-cors-headers==4.7.0
