{% load static from staticfiles %}
{% load i18n %}
{% load humanize %}
{% load core_tags %}

<div class="athlete-page container mt-9">
    <div class="row">
        <div class="col-sm-4 float-left">
            {{ athlete.photo_preview }}
            <div class="mt-3">
                <a href="{% url 'core:follow_api' 'athlete' athlete.pk %}" id="subscribe-link{{ sufix }}" class="subscribe-link btn {% if athlete.subscribed %}btn-success{% else %}btn-light{% endif %}" data-hover="{% trans 'Unfollow' %}" data-subscribed="{% trans 'Following' %}" data-unsubscribed="{% trans 'Follow' %}">
                    {% if athlete.subscribed %}{% trans "Following" %}{% else %}{% trans "Follow" %}{% endif %}
                </a>
                <form action="{% url 'core:athletes_list' %}" class="athletes_lists_form mt-3">
                    {% csrf_token %}
                    <input type="number" name="athlete" class="d-none" value="{{ athlete.id }}">
                    <label for="athletes_lists">{% trans "Is part of lists" %}:</label>
                    <select multiple name="athletes_lists" name="athletes_lists" id="athletes_lists" class="form-control select2">
                        {% for athletes_list in athlete.user_athletes_lists %}
                            <option {% if athletes_list.selected %}selected{% endif %} value="{{ athletes_list.pk }}">{{ athletes_list.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="col-sm-8 float-right">
            <h1>{{ athlete.name }}</h1>
            <p>{% trans "Category" %}: {{ athlete.category }}</p>
            <p>{% trans "Gender" %}: {{ athlete.get_gender_display }}</p>
            <p>{% trans "Date of Birth (Age)" %}: {{ athlete.birthday }} ({{ athlete.age }})</p>
            <p>{% trans "Place of Birth" %}: <i class="flag flag-{{ athlete.domestic_market|lower }}"></i> {{ athlete.get_domestic_market_display }}</p>
            <p>{% trans "Team" %}: {% if athlete.team_model %}<a href="{% url 'core:team' athlete.team_model.pk %}">{{ athlete.team }}</a>{% else %}{{ athlete.team }}{% endif %}</p>
            <p>{% trans "Location" %}: {% if athlete.location_market %}<a href="{% url 'core:country' athlete.location_market %}"><i class="flag flag-{{ athlete.location_market|lower }}"></i> {{ athlete.get_location_market_display }}</a>{% endif %}</p>
            <p>{% trans "Marketability" %}: {{ athlete.marketability }}</p>
            <p>{% trans "International" %}: {{ athlete.international }}</p>
            <div>
                {% if athlete.twitter_info %}
                    <a href="https://twitter.com/{{ athlete.twitter_info|get_item:'screen_name' }}" target="_blank"><img class="icon" src="{% static 'img/twitter.svg' %}" alt="twitter"></a>
                    <span class="badge">{{ athlete.twitter_info|get_item:'followers_count'|intcomma }}</span>
                    {% if twitter_trend_date %}
                        {% if twitter_trend > 0 %}<spam class="text-success">↑</spam>+{% elif twitter_trend < 0 %}<spam class="text-danger">↓</spam>{% endif %}<span class="badge" data-trend-date="{{ twitter_trend_date }}">{{ twitter_trend }}%</span>
                    {% endif %}
                {% endif %}
                {% if athlete.youtube_info %}
                    <a href="https://www.youtube.com/channel/{{ athlete.youtube_info|get_item:"channelId" }}" target="_blank"><img class="icon" src="{% static 'img/youtube.svg' %}" alt="youtube"></a>
                    <span class="badge">{{ athlete.youtube_info|get_item:'subscriberCount'|intcomma }}</span>
                    {% if youtube_trend_date %}
                        {% if youtube_trend > 0 %}<spam class="text-success">↑</spam>+{% elif youtube_trend < 0 %}<spam class="text-danger">↓</spam>{% endif %}<span class="badge" data-trend-date="{{ youtube_trend_date }}">{{ youtube_trend }}%</span>
                    {% endif %}
                {% endif %}
                <!--<a href="#" target="_blank"><img class="icon" src="{% static 'img/instagram.svg' %}" alt="instagram"></a>-->
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <ul class="nav nav-tabs col-sm-12 mt-3" id="charts" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="youtube-trends-tab" data-toggle="tab" href="#youtube-trends{{ sufix }}" role="tab" aria-controls="youtube trends" aria-selected="true">{% trans "Youtube trends" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="youtube-stats-tab" data-toggle="tab" href="#youtube-stats{{ sufix }}" role="tab" aria-controls="youtube stats" aria-selected="false">{% trans "Youtube stats" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="twitter-trends-tab" data-toggle="tab" href="#twitter-trends{{ sufix }}" role="tab" aria-controls="twitter trends" aria-selected="true">{% trans "Twitter trends" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="twitter-stats-tab" data-toggle="tab" href="#twitter-stats{{ sufix }}" role="tab" aria-controls="twitter stats" aria-selected="false">{% trans "Twitter stats" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="wiki-trends-tab" data-toggle="tab" href="#wiki-trends{{ sufix }}" role="tab" aria-controls="wiki trends" aria-selected="true">{% trans "Wikipedia trends" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="wiki-stats-tab" data-toggle="tab" href="#wiki-stats{{ sufix }}" role="tab" aria-controls="wiki stats" aria-selected="false">{% trans "Wikipedia stats" %}</a>
            </li>
        </ul>
        <div class="tab-content col-sm-12" id="charts-content">
            <div class="tab-pane fade show active" id="youtube-trends{{ sufix }}" role="tabpanel" aria-labelledby="youtube-trends-tab">
                <canvas id="youtube-trends-canv{{ sufix }}" width="400" height="200"></canvas>
            </div>
            <div class="tab-pane fade" id="youtube-stats{{ sufix }}" role="tabpanel" aria-labelledby="youtube-stats-tab">
                <canvas id="youtube-stats-canv{{ sufix }}" width="400" height="200"></canvas>
            </div>
            <div class="tab-pane fade" id="twitter-trends{{ sufix }}" role="tabpanel" aria-labelledby="twitter-trends-tab">
                <canvas id="twitter-trends-canv{{ sufix }}" width="400" height="200"></canvas>
            </div>
            <div class="tab-pane fade" id="twitter-stats{{ sufix }}" role="tabpanel" aria-labelledby="twitter-stats-tab">
                <canvas id="twitter-stats-canv{{ sufix }}" width="400" height="200"></canvas>
            </div>
            <div class="tab-pane fade" id="wiki-trends{{ sufix }}" role="tabpanel" aria-labelledby="wiki-trends-tab">
                <canvas id="wiki-trends-canv{{ sufix }}" width="400" height="200"></canvas>
            </div>
            <div class="tab-pane fade" id="wiki-stats{{ sufix }}" role="tabpanel" aria-labelledby="wiki-stats-tab">
                <canvas id="wiki-stats-canv{{ sufix }}" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>

{% include "_youtube_charts.html" with obj=athlete sufix=sufix %}
{% include "_twitter_charts.html" with obj=athlete sufix=sufix %}
{% include "_wiki_charts.html" with obj=athlete sufix=sufix %}
{% include "_follow.html" with sufix=sufix %}
