{% load i18n %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let trends_twitter = {{ obj.get_twitter_trends|safe }};
        let stats_twitter = {{ obj.twitter_stats|safe }};
        let ctx_trends_twitter = document.getElementById('twitter-trends-canv{{ sufix }}').getContext('2d');
        let ctx_stats_twitter = document.getElementById('twitter-stats-canv{{ sufix }}').getContext('2d');

        function chart(ctx, data, titles) {
            let i;
            let _date;
            let stats_subscribers = [];
            let lineChartData;

            for (i in data) {
                _date = new Date(data[i][0]);

                stats_subscribers.push({
                    "x": _date,
                    "y": data[i][1][0]
                });
            }

            lineChartData = {
                datasets: [{
                    label: titles[0],
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgb(255, 99, 132)',
                    fill: false,
                    data: stats_subscribers,
                    yAxisID: 'y-axis-1',
                }]
            };

            Chart.Line(ctx, {
                data: lineChartData,
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD',
                                tooltipFormat: 'll',
                                unit: 'day',
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '{% trans "Date" %}'
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            display: true,
                            position: 'left',
                            ticks: {
                                fontColor: 'rgb(255, 99, 132)'
                            },
                            id: 'y-axis-1',
                        }],
                    }
                }
            });
        }

        chart(ctx_trends_twitter, trends_twitter, ['{% trans "New Followers" %}']);
        chart(ctx_stats_twitter, stats_twitter, ['{% trans "Followers" %}']);
    });
</script>
