{% block youtube_charts %}
<script>
    let i;
    let _date;
    let trends = {{ obj.get_youtube_trends|safe }};
    let stats = {{ obj.get_youtube_stats|safe }};

    let stats_subscribers;
    let stats_views;
    let lineChartData;

    stats_subscribers = [];
    stats_views = [];

    for (i in trends) {
        _date = new Date(trends[i][0]);

        stats_subscribers.push({
            "x": _date,
            "y": trends[i][1][0]
        });

        stats_views.push({
            "x": _date,
            "y": trends[i][1][1]
        });
    }

    lineChartData = {
        datasets: [{
            label: 'New Subscribers',
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'rgb(255, 99, 132)',
            fill: false,
            data: stats_subscribers,
            yAxisID: 'y-axis-1',
        }, {
            label: 'New views',
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'rgb(54, 162, 235)',
            fill: false,
            data: stats_views,
            yAxisID: 'y-axis-2'
        }]
    };

    document.addEventListener("DOMContentLoaded", function() {
        let ctx_trends = document.getElementById('youtube-trends-canv').getContext('2d');
        let ctx_stats = document.getElementById('youtube-stats-canv').getContext('2d');

        window.trends = Chart.Line(ctx_trends, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: 'Youtube trends'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DD',
                            tooltipFormat: 'll'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        ticks: {
                            fontColor: 'rgb(255, 99, 132)'
                        },
                        id: 'y-axis-1',
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        ticks: {
                            fontColor: 'rgb(54, 162, 235)'
                        },
                        id: 'y-axis-2',

                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    }],
                }
            }
        });

        stats_subscribers = [];
        stats_views = [];

        for (i in stats) {
            _date = new Date(stats[i][0]);

            stats_subscribers.push({
                "x": _date,
                "y": stats[i][1][0]
            });

            stats_views.push({
                "x": _date,
                "y": stats[i][1][1]
            });
        }

        lineChartData = {
            datasets: [{
                label: 'Subscribers',
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgb(255, 99, 132)',
                fill: false,
                data: stats_subscribers,
                yAxisID: 'y-axis-1',
            }, {
                label: 'Views',
                borderColor: 'rgb(54, 162, 235)',
                backgroundColor: 'rgb(54, 162, 235)',
                fill: false,
                data: stats_views,
                yAxisID: 'y-axis-2'
            }]
        };

        window.stats = Chart.Line(ctx_stats, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: 'Youtube stats'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            parser: 'YYYY-MM-DD',
                            tooltipFormat: 'll'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        ticks: {
                            fontColor: 'rgb(255, 99, 132)'
                        },
                        id: 'y-axis-1',
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        ticks: {
                            fontColor: 'rgb(54, 162, 235)'
                        },
                        id: 'y-axis-2',

                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    }],
                }
            }
        });
    });
</script>
{% endblock %}
