{% load i18n %}

<script>
    let trends = {{ obj.get_youtube_trends|safe }};
    let stats = {{ youtube_stats|safe }};
    let ctx_trends = document.getElementById('youtube-trends-canv').getContext('2d');
    let ctx_stats = document.getElementById('youtube-stats-canv').getContext('2d');

    document.addEventListener("DOMContentLoaded", function() {
        function chart(ctx, data, titles) {
            let i;
            let _date;
            let stats_subscribers = [];
            let stats_views = [];
            let lineChartData;

            for (i in data) {
                _date = new Date(data[i][0]);

                stats_subscribers.push({
                    "x": _date,
                    "y": data[i][1][0]
                });

                stats_views.push({
                    "x": _date,
                    "y": data[i][1][1]
                });
            }

            lineChartData = {
                datasets: [{
                    label: titles[0],
                    borderColor: 'rgb(255, 99, 132)',
                    backgroundColor: 'rgb(255, 99, 132)',
                    fill: false,
                    data: stats_subscribers,
                    yAxisID: 'y-axis-1',
                }, {
                    label: titles[1],
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgb(54, 162, 235)',
                    fill: false,
                    data: stats_views,
                    yAxisID: 'y-axis-2'
                }]
            };

            Chart.Line(ctx, {
                data: lineChartData,
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                parser: 'YYYY-MM-DD',
                                tooltipFormat: 'll'
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '{% trans "Date" %}'
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            display: true,
                            position: 'left',
                            ticks: {
                                fontColor: 'rgb(255, 99, 132)'
                            },
                            id: 'y-axis-1',
                        }, {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            ticks: {
                                fontColor: 'rgb(54, 162, 235)'
                            },
                            id: 'y-axis-2',
                            gridLines: {
                                drawOnChartArea: false,
                            },
                        }],
                    }
                }
            });
        }

        chart(ctx_trends, trends, ['{% trans "New Subscribers" %}', '{% trans "New Views" %}']);
        chart(ctx_stats, stats, ['{% trans "Subscribers" %}', '{% trans "Views" %}']);
    });
</script>
