{% extends 'base.html' %}
{% load static from staticfiles %}
{% load core_tags %}

{% block title %}{{ athlete.name }}{% endblock %}

{% block content %}
    <div class="container mt-9">
        <div class="row">
            <div class="col-sm-4 float-left">
                {{ athlete.photo_preview }}
{#                <select name="athletes_lists" id="athletes_lists" class="form-control col-sm-12 col-md-8 mt-3">#}
{#                    <option selected value></option>#}
{#                    {% for athletes_list in athletes_lists %}#}
{#                        <option value="{{ athletes_list.pk }}">{{ athletes_list.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
            </div>
            <div class="col-sm-8 float-right">
                <h1>{{ athlete.name }}</h1>
                <p>Category: {{ athlete.category }}</p>
                <p>Gander: {{ athlete.gender }}</p>
                <p>Date of Birth (Age): {{ athlete.birthday }} ({{ athlete.age }})</p>
                <p>Place of Birth: {{ athlete.domestic_market }}</p>
                <p>Team: {% if athlete.team_model %}<a href="{% url 'core:team' athlete.team_model.pk %}">{{ athlete.team }}</a>{% else %}{{ athlete.team }}{% endif %}</p>
                <p>Location: {{ athlete.location_market }}</p>
                <p>Marketability: {{ athlete.marketability }}</p>
                <p>International: {{ athlete.international }}</p>
                <div>
                    {% if athlete.twitter_info %}
                        <a href="https://twitter.com/{{ athlete.twitter_info|get_item:'screen_name' }}" target="_blank"><img class="icon" src="{% static 'img/twitter.svg' %}" alt="twitter"></a>
                        <span class="badge">{{ athlete.twitter_info|get_item:'followers_count' }}</span>
                    {% endif %}
                    {% if athlete.youtube_info %}
                        <a href="https://www.youtube.com/channel/{{ athlete.youtube_info|get_item:"channelId" }}" target="_blank"><img class="icon" src="{% static 'img/youtube.svg' %}" alt="youtube"></a>
                        <span class="badge">{{ athlete.youtube_info|get_item:'subscriberCount' }}</span>
                    {% endif %}
                    <!--<a href="#" target="_blank"><img class="icon" src="{% static 'img/instagram.svg' %}" alt="instagram"></a>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
