<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Athletes" %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% trans 'Athletes' %}{% endblock description %}"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'node_modules/materialize-css/dist/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'node_modules/datatables/media/css/jquery.dataTables.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
      <nav class="white" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'core:crm' %}" class="brand-logo blue-grey-text">CRM</a>
        <ul class="right">
          <li class="{% if request.path == '/' %}active{% endif %}">
            <a href="{% url 'core:home' %}" class="grey-text">Features</a>
          </li>
          <li>
            <a href="#" class="grey-text">Pricing</a>
          </li>
          <li>
            <a href="#" class="grey-text">Webinars</a>
          </li>
          <li>
            <a href="#" class="grey-text">Blog</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="#" class="grey-text">{{ user.username }}</a>
          </li>
          <li class="{% if request.path == '/logout' %}active{% endif %}">
            <a href="{% url 'core:logout' %}" class="grey-text">Logout</a>
          </li>
          {% else %}
          <li class="{% if request.path == '/login' %}active{% endif %}">
            <a href="{% url 'core:login' %}" class="grey-text">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/materialize-css/dist/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
