<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans "Athletes" %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% trans 'Athletes' %}{% endblock description %}"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'node_modules/materialize-css/dist/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'node_modules/datatables/media/css/jquery.dataTables.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <nav class="blue-grey darken-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Athletes</a>
        <ul class="right">
          <li class="{% if request.path == '/about' %}active{% endif %}">
            <a href="/about" class="{% if request.path == '/about' %}active{% else %}grey-text{% endif %}">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="{% if request.path == '/user' %}active{% endif %}">
            <a href="#" class="{% if request.path == '/user' %}active{% else %}grey-text{% endif %}">{{ user.username }}</a>
          </li>
          <li class="{% if request.path == '/logout' %}active{% endif %}">
            <a href="/logout" class="{% if request.path == '/logout' %}active{% else %}grey-text{% endif %}">Logout</a>
          </li>
          {% else %}
          <li class="{% if request.path == '/login' %}active{% endif %}">
            <a href="/login" class="{% if request.path == '/login' %}active{% else %}grey-text{% endif %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/materialize-css/dist/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
