{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
    <div class="team-page container mt-9">
        <div class="row">
            <h1 class="mb-3">{{ name }}</h1>

            <table class="table table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col">{% trans "Category" %}</th>
                        <th scope="col">{% trans "Athletes" %}</th>
                        <th scope="col">{% trans "Median athletes age" %}</th>
                        <th scope="col">{% trans "Twitter" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in stats %}
                    <tr>
                        <td>{{ row.category }}</td>
                        <td>{{ row.athletes }}</td>
                        <td>{{ row.age }}</td>
                        <td>{{ row.twitter|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
