{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Athletes" %}{% endblock title %}

{% block content %}
    <!-- Modal -->
    <div class="modal{% if form.errors %} error{% endif %}" id="add-athletes-list" tabindex="-1" role="dialog" aria-labelledby="AthletesListModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="add-athletes-list-label">{% trans "Create Athletes list for selected athletes" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'core:athletes_list' %}" method="post" class="add-form clearfix form-horizontal">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-form-label col-sm-12" for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                                <div class="col-sm-12">
                                    {{ field|add_class:"form-control" }}
                                </div>
                                {% if field.errors %}
                                    <div class="col-sm-12 pull-right" role="alert">
                                        <div class="alert alert-warning" >
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="form-group d-none">
                            <label class="control-label col-sm-2" for="id_athletes">Athletes</label>
                            <div class="col-sm-12">
                                <input type="text" name="id_athletes" id="id_athletes" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-light btn-outline-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="submit" class="btn btn-primary btn-md pull-right">{% trans "Save" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <div>
            <div class="form-group float-left col-sm-6 col-md-4 col-lg-2 offset-sm-2 offset-md-3 offset-lg-4">
                <label for="athletes_lists" class="col-form-label col-sm-12 col-md-4">List</label>
                <select name="athletes_lists" id="athletes_lists" class="form-control col-sm-12 col-md-8 float-right">
                    <option selected value>Show all</option>
                    {% for athletes_list in athletes_lists %}
                        <option value="{{ athletes_list.pk }}">{{ athletes_list.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="float-left btn btn-outline-secondary">
                <a id="athletes-export-link" class="text-dark" download data-href="{% url 'core:athletes_export' %}?ids=" href="{% url 'core:athletes_export' %}?ids=">{% trans "Export athletes" %}</a>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="add-btn btn btn-outline-secondary text-dark ml-3" data-toggle="modal" data-target="#add-athletes-list">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add Athletes list" %}
            </button>
        </div>

        <table id="athletes-table" class="table table-striped" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Domestic market</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Location market</th>
                    <th>Team</th>
                    <th>Category</th>
                    <th>Marketability</th>
                    <th>Optimal campaign</th>
                    <th>Market export</th>
                    <th>Instagram</th>
                    <th>Twitter</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name<input type="text" placeholder="Search Name"/></th>
                    <th>Domestic market<input type="text" placeholder="Search Domestic market"/></th>
                    <th>Age
                        <select>
                            <option selected value></option>
                            <option value="16-21">16 - 21</option>
                            <option value="22-26">22 - 26</option>
                            <option value="27-40">27 - 40</option>
                            <option value="40-100">40+</option>
                        </select>
                    </th>
                    <th>Gender
                        <select>
                            <option selected value></option>
                            {% for value, title in gender_choices %}
                                <option value="{{ value }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Location market<input type="text" placeholder="Search Location market"/></th>
                    <th>Team<input type="text" placeholder="Search Team"/></th>
                    <th>Category
                        <select multiple>
                            <option selected value></option>
                            {% for value, title in category_choices %}
                                <option value="{{ value }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Marketability
                        <select multiple>
                            <option selected value></option>
                            <option value="81-100">81 - 100</option>
                            <option value="61-80">61 - 80</option>
                            <option value="41-60">41 - 60</option>
                            <option value="21-40">21 - 40</option>
                            <option value="1-20">1 - 20</option>
                        </select>
                    </th>
                    <th>Optimal campaign
                        <select multiple>
                            <option selected value></option>
                            {% for value, title in optimal_campaign_choices %}
                                <option value="{{ value }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Market export
                        <select>
                            <option selected value></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </th>
                    <th>Instagram
                        <select>
                            <option selected value></option>
                            <option value="1000-1000000000">1,000+</option>
                            <option value="10000-1000000000">10,000+</option>
                            <option value="100000-1000000000">100,000+</option>
                            <option value="1000000-1000000000">1000,000+</option>
                        </select>
                    </th>
                    <th>Twitter
                        <select>
                            <option selected value></option>
                            <option value="1000-1000000000">1,000+</option>
                            <option value="10000-1000000000">10,000+</option>
                            <option value="100000-1000000000">100,000+</option>
                            <option value="1000000-1000000000">1,000,000+</option>
                        </select>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
