{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Athletes" %}{% endblock title %}

{% block content %}
    <div>
        <table id="athletes-table" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Domestic market</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Location market</th>
                    <th>Team</th>
                    <th>Category</th>
                    <th>Marketability</th>
                    <th>Optimal campaign</th>
                    <th>Market transfer</th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name<input type="text" placeholder="Search Name"/></th>
                    <th>Domestic market<input type="text" placeholder="Search Domestic market"/></th>
                    <th>Age
                        <select>
                            <option selected value></option>
                            <option value="16-21">16 - 21</option>
                            <option value="22-26">22 - 26</option>
                            <option value="27-40">27 - 40</option>
                            <option value="40-100">40+</option>
                        </select>
                    </th>
                    <th>Gender
                        <select>
                            <option selected value></option>
                            {% for value, title in gender_choices %}
                                <option value="{{ value }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Location market<input type="text" placeholder="Search Location market"/></th>
                    <th>Team<input type="text" placeholder="Search Team"/></th>
                    <th>Category
                        <select multiple>
                            <option disabled selected value></option>
                            {% for value, title in category_choices %}
                                <option value="{{ value }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Marketability
                        <select multiple>
                            <option disabled selected value></option>
                            <option value="5">★★★★★</option>
                            <option value="4">★★★★</option>
                            <option value="3">★★★</option>
                            <option value="2">★★</option>
                            <option value="1">★</option>
                        </select>
                    </th>
                    <th>Optimal campaign
                        <select multiple>
                            <option disabled selected value></option>
                            {% for value, title in optimal_campaign_choices %}
                                <option value="{{ value }}">{{ title }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Market transfer
                        <select>
                            <option selected value></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
