{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Athletes" %}{% endblock title %}

{% block content %}
    <div>
        <table id="athletes-table" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality and domestic market</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Location market</th>
                    <th>Team</th>
                    <th>Category</th>
                    <th>Marketability</th>
                    <th>Optimal campaign time</th>
                    <th>Market transfer</th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name<input type="text" placeholder="Search Name"/></th>
                    <th>Nationality and domestic market<input type="text" placeholder="Search Nationality and domestic market"/></th>
                    <th>Age</th>
                    <th>Gender
                        <select>
                            <option selected value></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </th>
                    <th>Location market<input type="text" placeholder="Search Location market"/></th>
                    <th>Team<input type="text" placeholder="Search Team"/></th>
                    <th>Category</th>
                    <th>Marketability</th>
                    <th>Optimal campaign time</th>
                    <th>Market transfer
                        <select>
                            <option selected value></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
