{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Athletes" %}{% endblock title %}

{% block content %}
    <div>
        <table id="athletes-table" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality and domestic market</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Location market</th>
                    <th>Team</th>
                    <th>Category</th>
                    <th>Marketability</th>
                    <th>Optimal campaign time</th>
                    <th>Market transfer</th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name<input type="text" placeholder="Search Name"/></th>
                    <th>Nationality and domestic market<input type="text" placeholder="Search Nationality and domestic market"/></th>
                    <th>Age</th>
                    <th>Gender
                        <select>
                            <option selected value></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </th>
                    <th>Location market<input type="text" placeholder="Search Location market"/></th>
                    <th>Team<input type="text" placeholder="Search Team"/></th>
                    <th>Category
                        <select multiple>
                            <option disabled selected value></option>
                            <option value="Football">Football</option>
                            <option value="Rugby">Rugby</option>
                            <option value="Athletics">Athletics</option>
                            <option value="Cycling">Cycling</option>
                            <option value="Swimming">Swimming</option>
                            <option value="Gymnastics">Gymnastics</option>
                            <option value="Golf">Golf</option>
                            <option value="American Football">American Football</option>
                            <option value="Basketball">Basketball</option>
                            <option value="Baseball">Baseball</option>
                            <option value="College Football">College Football</option>
                            <option value="College Basketball">College Basketball</option>
                            <option value="Ice Hockey">Ice Hockey</option>
                        </select>
                    </th>
                    <th>Marketability
                        <select multiple>
                            <option disabled selected value></option>
                            <option value="5">★★★★★</option>
                            <option value="4">★★★★</option>
                            <option value="3">★★★</option>
                            <option value="2">★★</option>
                            <option value="1">★</option>
                        </select>
                    </th>
                    <th>Optimal campaign time
                        <select multiple>
                            <option disabled selected value></option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </th>
                    <th>Market transfer
                        <select>
                            <option selected value></option>
                            <option value="true">yes</option>
                            <option value="false">no</option>
                        </select>
                    </th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
