{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Athletes" %}{% endblock title %}

{% block content %}
    <div>
        <table id="athletes-table" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality and domestic market</th>
                    <th>Age</th>
                    <th>Location market</th>
                    <th>Team</th>
                    <th>Category</th>
                    <th>Marketability</th>
                    <th>Optimal campaign time</th>
                    <th>Market transfer</th>
                    <th>Instagram</th>
                    <th>Twiter</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock content %}
