{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load humanize %}
{% load core_tags %}

{% block title %}{{ league.name }}{% endblock %}

{% block content %}
    <div class="team-page container mt-9">
        <div class="row">
            <div class="col-sm-4 float-left">
                {{ league.photo_preview }}
                <div class=" mt-3">
                    <a href="{% url 'core:follow_api' 'league' league.pk %}" id="subscribe-link" class="subscribe-link btn {% if league.subscribed %}btn-success{% else %}btn-light{% endif %}" data-hover="{% trans 'Unfollow' %}" data-subscribed="{% trans 'Following' %}" data-unsubscribed="{% trans 'Follow' %}">
                        {% if league.subscribed %}{% trans "Following" %}{% else %}{% trans "Follow" %}{% endif %}
                    </a>
                    <form action="{% url 'core:leagues_list' %}" id="teams_lists_form" class="mt-3">
                        {% csrf_token %}
                        <input type="number" name="league" class="d-none" value="{{ league.id }}">
                        <label for="leagues_lists">{% trans "Is part of lists" %}:</label>
                        <select multiple name="leagues_lists" id="leagues_lists" class="form-control select2">
                            {% for league_list in league.user_league_lists %}
                                <option {% if league_list.selected %}selected{% endif %} value="{{ league_list.pk }}">{{ league_list.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-sm-8 float-right">
                <h1 class="mb-3">{{ league.name }}</h1>
                <p>{% trans "Category" %}: {{ league.category }}</p>
                <p>{% trans "Gender" %}: {{ league.get_gender_display }}</p>
                <p>{% trans "Location" %}: <a href="{% url 'core:country' league.location_market %}"><i class="flag flag-{{ league.location_market|lower }}"></i> {{ league.get_location_market_display }}</a></p>
                <div>
                    {% if league.twitter_info %}
                        <a href="https://twitter.com/{{ league.twitter_info|get_item:'screen_name' }}" target="_blank"><img class="icon" src="{% static 'img/twitter.svg' %}" alt="twitter"></a>
                        <span class="badge">{{ league.twitter_info|get_item:'followers_count'|intcomma }}</span>
                        {% if twitter_trend_date %}
                            {% if twitter_trend > 0 %}<spam class="text-success">↑</spam>+{% elif twitter_trend < 0 %}<spam class="text-danger">↓</spam>{% endif %}<span class="badge" data-trend-date="{{ twitter_trend_date }}">{{ twitter_trend }}%</span>
                        {% endif %}
                    {% endif %}
                    {% if league.youtube_info %}
                        <a href="https://www.youtube.com/channel/{{ league.youtube_info|get_item:'channelId' }}" target="_blank"><img class="icon" src="{% static 'img/youtube.svg' %}" alt="youtube"></a>
                        <span class="badge">{{ league.youtube_info|get_item:'subscriberCount'|intcomma }}</span>
                        {% if youtube_trend_date %}
                            {% if youtube_trend > 0 %}<spam class="text-success">↑</spam>+{% elif youtube_trend < 0 %}<spam class="text-danger">↓</spam>{% endif %}<span class="badge" data-trend-date="{{ youtube_trend_date }}">{{ youtube_trend }}%</span>
                        {% endif %}
                    {% endif %}
                    <!--<a href="#" target="_blank"><img class="icon" src="{% static 'img/instagram.svg' %}" alt="instagram"></a>-->
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <ul class="nav nav-tabs col-sm-12 mt-3" id="charts" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="true">{% trans "Teams" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="youtube-trends-tab" data-toggle="tab" href="#youtube-trends" role="tab" aria-controls="youtube trends" aria-selected="true">{% trans "Youtube trends" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="youtube-stats-tab" data-toggle="tab" href="#youtube-stats" role="tab" aria-controls="youtube stats" aria-selected="false">{% trans "Youtube stats" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="twitter-trends-tab" data-toggle="tab" href="#twitter-trends" role="tab" aria-controls="twitter trends" aria-selected="true">{% trans "Twitter trends" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="twitter-stats-tab" data-toggle="tab" href="#twitter-stats" role="tab" aria-controls="twitter stats" aria-selected="false">{% trans "Twitter stats" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wiki-trends-tab" data-toggle="tab" href="#wiki-trends" role="tab" aria-controls="wiki trends" aria-selected="true">{% trans "Wikipedia trends" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wiki-stats-tab" data-toggle="tab" href="#wiki-stats" role="tab" aria-controls="wiki stats" aria-selected="false">{% trans "Wikipedia stats" %}</a>
                </li>
            </ul>
            <div class="tab-content col-sm-12" id="charts-content">
                <div class="tab-pane fade show active" id="teams" role="tabpanel" aria-labelledby="teams-tab">
                    <ul class="mt-2">
                        {% for team in teams %}
                            <li><a href="{% url 'core:team' team.pk %}">{{ team.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade show" id="youtube-trends" role="tabpanel" aria-labelledby="youtube-trends-tab">
                    <canvas id="youtube-trends-canv" width="400" height="200"></canvas>
                </div>
                <div class="tab-pane fade" id="youtube-stats" role="tabpanel" aria-labelledby="youtube-stats-tab">
                    <canvas id="youtube-stats-canv" width="400" height="200"></canvas>
                </div>
                <div class="tab-pane fade" id="twitter-trends" role="tabpanel" aria-labelledby="twitter-trends-tab">
                    <canvas id="twitter-trends-canv" width="400" height="200"></canvas>
                </div>
                <div class="tab-pane fade" id="twitter-stats" role="tabpanel" aria-labelledby="twitter-stats-tab">
                    <canvas id="twitter-stats-canv" width="400" height="200"></canvas>
                </div>
                <div class="tab-pane fade" id="wiki-trends" role="tabpanel" aria-labelledby="wiki-trends-tab">
                    <canvas id="wiki-trends-canv" width="400" height="200"></canvas>
                </div>
                <div class="tab-pane fade" id="wiki-stats" role="tabpanel" aria-labelledby="wiki-stats-tab">
                    <canvas id="wiki-stats-canv" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% include "_youtube_charts.html" with obj=league %}
    {% include "_twitter_charts.html" with obj=league %}
    {% include "_wiki_charts.html" with obj=league %}
    {% include "_follow.html" %}
{% endblock %}
