{% load i18n %}
<li class="nav-item {% if request.path == '/' %}active{% endif %}">
  <a href="{% url 'core:home' %}" class="nav-link">{% trans "Features" %}</a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">{% trans "Pricing" %}</a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">{% trans "Webinars" %}</a>
</li>
<li class="nav-item">
  <a href="#" class="nav-link">{% trans "Blog" %}</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item">
  <a href="#" class="nav-link">{{ user.username }}</a>
</li>
<li class="nav-item {% if request.path == '/logout' %}active{% endif %}">
  <a href="{% url 'core:logout' %}" class="nav-link">{% trans "Logout" %}</a>
</li>
{% else %}
<li class="nav-item {% if request.path == '/login' %}active{% endif %}">
  <a href="{% url 'core:login' %}" class="nav-link">{% trans "Login" %}</a>
</li>
{% endif %}
