{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}{% trans "Profile" %}{% endblock %}
{% block description %}{% trans "User profile" %}{% endblock description %}

{% block content %}
    <div class="profile container mt-9">
        <div class="col-lg-4 col-md-6 float-left">
            <div class="text-center">
                {% if is_current_user %}
                    <img src="{{ profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                    <h5 class="mt-2">{% trans "Upload a different photo" %}</h5>
                    <form action="{% url 'core:user' profile_user.username %}" method="post" enctype="multipart/form-data" id="avatar-upload">
                        {% csrf_token %}
                        {% for field in form %}
                            <label class="custom-file text-left" for="{{ field.auto_id }}">
                                {{ field }}
                            </label>
                            {% if field.errors %}
                                <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
                                  {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% else %}
                    <img src="{{ profile_user.profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                {% endif %}
            </div>
            <div id="profile">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="form-group row">
                            <div class="col-md-4 float-left"><label for="first_name">{% trans "First name" %}</label></div>
                            <div class="col-md-8 float-right">
                                {% if is_current_user %}
                                    <a href="#" id="first_name" class="editable" data-type="text" data-pk="first_name" data-url="{% url 'core:user' profile_user.username %}" data-placeholder="{% trans 'Enter first name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.first_name }}</a>
                                {% else %}
                                    {{ profile_user.first_name }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 float-left"><label for="last_name">{% trans "Last name" %}</label></div>
                            <div class="col-md-8 float-right">
                                {% if is_current_user %}
                                    <a href="#" id="last_name" class="editable" data-type="text" data-pk="last_name" data-url="{% url 'core:user' profile_user.username %}" data-placeholder="{% trans 'Enter last name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.last_name }}</a>
                                {% else %}
                                    {{ profile_user.last_name }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 float-left"><label for="email">{% trans "Email" %}</label></div>
                            <div class="col-md-8 float-right">
                                {% if is_current_user %}
                                    <a href="#" id="email" class="editable" data-type="email" data-pk="email" data-url="{% url 'core:user' profile_user.username %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.email }}</a>
                                {% else %}
                                    {{ profile_user.email }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 float-left"><label for="timezone">{% trans "Timezone" %}</label></div>
                            <div class="col-md-8 float-right">
                                {% if is_current_user %}
                                    <a href="#" id="timezone" class="editable" data-type="select" data-value="{{ profile.timezone }}" data-source="{{ timezones }}" data-pk="timezone" data-url="{% url 'core:user' profile_user.username %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile.timezone }}</a>
                                {% else %}
                                    {{ profile_user.profile.timezone }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </div>
        </div>

        <div class="col-lg-8 col-md-6 float-right">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="heading_followed_leagues">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#followed_leagues" aria-expanded="true" aria-controls="followed_leagues">
                                {% trans "Followed leagues" %}
                            </button>
                        </h5>
                    </div>

                    <div id="followed_leagues" class="collapse" aria-labelledby="heading_followed_leagues" data-parent="#accordion">
                        <div class="card-body">
                            {% for league in profile.followed_leagues.all %}
                                <a href="{% url 'core:league' league.pk %}">{{ league.name }}</a>
                                <br>
                            {% endfor %}
                       </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_followed_teams">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#followed_teams" aria-expanded="true" aria-controls="followed_teams">
                                {% trans "Followed teams" %}
                            </button>
                        </h5>
                    </div>

                    <div id="followed_teams" class="collapse" aria-labelledby="heading_followed_teams" data-parent="#accordion">
                        <div class="card-body">
                            {% for team in profile.followed_teams.all %}
                                <a href="{% url 'core:team' team.pk %}">{{ team.name }}</a>
                                <br>
                            {% endfor %}
                       </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_followed_athletes">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#followed_athletes" aria-expanded="true" aria-controls="followed_athletes">
                                {% trans "Followed athletes" %}
                            </button>
                        </h5>
                    </div>

                    <div id="followed_athletes" class="collapse" aria-labelledby="heading_followed_athletes" data-parent="#accordion">
                        <div class="card-body">
                            {% for athlete in profile.followed_athletes.all %}
                                <a href="{% url 'core:athlete' athlete.slug %}">{{ athlete.name }}</a>
                                <br>
                            {% endfor %}
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        $('#avatar-upload').change(function() {
            $(this).submit();
        });
      });
    </script>
{% endblock script %}