{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load humanize %}
{% load core_tags %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
    <div class="team-page container mt-9">
        <div class="row">
            <div class="col-sm-4 float-left">
                {{ team.photo_preview }}
                <div class=" mt-3">
                    <form action="{% url 'core:teams_list' %}" id="teams_lists_form">
                        {% csrf_token %}
                        <input type="number" name="team" class="d-none" value="{{ team.id }}">
                        <label for="teams_lists">{% trans "Is part of lists" %}:</label>
                        <select multiple name="teams_lists" id="teams_lists" class="form-control select2">
                            {% for teams_list in teams_lists %}
                                <option {% if teams_list.selected %}selected{% endif %} value="{{ teams_list.pk }}">{{ teams_list.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-sm-8 float-right">
                <h1 class="mb-3">{{ team.name }}</h1>
                <p>{% trans "Category" %}: {{ team.category }}</p>
                <p>{% trans "Gender" %}: {{ team.get_gender_display }}</p>
                <p>{% trans "Location" %}: <i class="flag flag-{{ team.location_market|lower }}"></i> {{ team.get_location_market_display }}</p>
                <p>{% trans "League" %}: {% if team.league %}<a href="{% url 'core:league' team.league.pk %}">{{ team.league }}</a>{% endif %}</p>
                <div>
                    {% if team.twitter_info %}
                        <a href="https://twitter.com/{{ team.twitter_info|get_item:'screen_name' }}" target="_blank"><img class="icon" src="{% static 'img/twitter.svg' %}" alt="twitter"></a>
                        <span class="badge">{{ team.twitter_info|get_item:'followers_count'|intcomma }}</span>
                    {% endif %}
                    {% if team.youtube_info %}
                        <a href="https://www.youtube.com/channel/{{ team.youtube_info|get_item:'channelId' }}" target="_blank"><img class="icon" src="{% static 'img/youtube.svg' %}" alt="youtube"></a>
                        <span class="badge">{{ team.youtube_info|get_item:'subscriberCount'|intcomma }}</span>
                    {% endif %}
                    <!--<a href="#" target="_blank"><img class="icon" src="{% static 'img/instagram.svg' %}" alt="instagram"></a>-->
                </div>
                <ul class="nav nav-tabs mt-3" id="charts" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="current-squad-tab" data-toggle="tab" href="#current-squad" role="tab" aria-controls="current squad" aria-selected="true">{% trans 'Current squad' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="age-tab" data-toggle="tab" href="#age" role="tab" aria-controls="age" aria-selected="false">{% trans "Squad ages" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="domestic_market-tab" data-toggle="tab" href="#domestic_market" role="tab" aria-controls="domestic market" aria-selected="false">{% trans "Squad nationalities" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="youtube-trends-tab" data-toggle="tab" href="#youtube-trends" role="tab" aria-controls="youtube trends" aria-selected="true">{% trans "Youtube trends" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="youtube-stats-tab" data-toggle="tab" href="#youtube-stats" role="tab" aria-controls="youtube stats" aria-selected="false">{% trans "Youtube stats" %}</a>
                    </li>
                </ul>
                <div class="tab-content" id="charts-content">
                    <div class="tab-pane fade show active" id="current-squad" role="tabpanel" aria-labelledby="current-squad-tab">
                        <ul class="mt-2">
                            {% for athlete in athletes %}
                                <li><a href="/athlete/{{ athlete.slug }}">{{ athlete.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="age" role="tabpanel" aria-labelledby="age-tab">
                        <canvas id="age-canv" width="400" height="200"></canvas>
                    </div>
                    <div class="tab-pane fade" id="domestic_market" role="tabpanel" aria-labelledby="domestic_market-tab">
                        <canvas id="domestic_market-canv" width="400" height="200"></canvas>
                    </div>
                    <div class="tab-pane fade" id="youtube-trends" role="tabpanel" aria-labelledby="youtube-trends-tab">
                        <canvas id="youtube-trends-canv" width="400" height="200"></canvas>
                    </div>
                    <div class="tab-pane fade" id="youtube-stats" role="tabpanel" aria-labelledby="youtube-stats-tab">
                        <canvas id="youtube-stats-canv" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let age_dataset = {{ age_dataset|safe }};
        let domestic_market_dataset = {{ domestic_market_dataset|safe }};

        document.addEventListener("DOMContentLoaded", function() {
            let ctx_age = document.getElementById('age-canv').getContext('2d');
            let ctx_domestic_market = document.getElementById('domestic_market-canv').getContext('2d');

            window.age = new Chart(ctx_age, {
                type: 'pie',
                data: age_dataset
            });

            window.age = new Chart(ctx_domestic_market, {
                type: 'pie',
                data: domestic_market_dataset
            });
        });
    </script>
    {% include "_youtube_charts.html" with obj=team %}
{% endblock %}
